<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geolocation" version="1.1.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="log4net.samples.rollingfileappender" version="1.1.0" targetFramework="net461" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
</packages>